<div class="actions" style="margin-bottom:20px">
  <div class="actions-row create-message">
    <div class="actions-column">
      Deal Public ID
      <input
        type="text"
        [(ngModel)]="dealId"
      />
    </div>
    <div class="actions-column">
      <button
        type="button"
        (click)="createMessage(dealId)"
      >
        Create message
      </button>
    </div>
  </div>

  <div class="actions-row resolve-message">
    <button
      *ngFor="let message of service.pendingMessages"
      type="button"
      (click)="resolveMessage(message)"
    >
      Resolve message {{message.id}}
    </button>
  </div>
</div>

<div class="tables">
  <div class="table">
    <strong>thread_creation</strong>
    <pre>{{stringify(service.threadCreationTable)}}</pre>
  </div>
  <div class="table">
    <strong>barcode_thread_map</strong>
    <pre>{{stringify(service.barcodeThreadMapTable)}}</pre>
  </div>
  <div class="table">
    <strong>master_thread</strong>
    <pre>{{stringify(service.masterThreadTable)}}</pre>
  </div>
</div>
